// Add styles for overriding the html tags
@use "../abstract/abstract" as *;

html {
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

body {
  font: {
    size: 1.4rem;
  }

  margin: 0;
}

* {
  box-sizing: border-box;
  line-height: normal;
}
